# fly.toml app configuration file generated for fly-voice-agent on 2025-11-15T13:50:57Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fly-voice-agent'
primary_region = 'ord'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
